label{
  border-radius: 10px;
  border: 2px solid #0278ff;
  background-color: rgb(238, 255, 0);
  padding: 5px;
  width: 75px;
  height: 20px; 
  text-align:center;
}  

p{
  border-radius: 10px;
  border: 2px solid #02ff24;
  background-color: rgb(255, 191, 131);
  padding: 5px;
  height: 20px; 
  text-align:center;
}

#canvas{
  border-radius: 10px;
  padding: 10px;
  border: 10px solid;
}