label{
  border-radius: 10px;
  border: 2px solid #0278ff;
  background-color: rgb(238, 255, 0);
  padding: 5px;
  width: 75px;
  height: 20px; 
  text-align:center;
}  

p{
  border-radius: 10px;
  border: 2px solid #1b02ff;
  background-color: rgb(229, 243, 29);
  padding: 5px;
  height: 40px; 
  text-align:center;
}

html{
  background-color: #74b8f0;
}

form{
  background: blue;
  padding: 10px;
  border: 5px solid blue;
  width: 600px;
  border-radius: 10px;
}

input{
  border: 3px solid rgb(76, 0, 255);
  border-radius: 10px;
  box-shadow: 2px 2px 5px red;
}

select{
  border: 3px solid rgb(76, 0, 255);
  border-radius: 10px;
  box-shadow: 2px 2px 5px red;
}

#header{
  background: rgb(0, 255, 0);
  padding: 5px;
  width: 600px;
  border-radius: 0px;
}

canvas:hover {
  cursor: crosshair
  
}

canvas{
  border: black 10px solid;
  border-radius: 10px;
}